:root {
    --stroke: 4px;
    --stroke-min: -4px;
}

#example {
    text-shadow: var(--stroke-min) var(--stroke-min) 0 #000, 
                 var(--stroke) var(--stroke-min) 0 #000, 
                 var(--stroke-min) var(--stroke) 0 #000, 
                 var(--stroke) var(--stroke) 0 #000,
                 var(--stroke) 0 0 #000,
                 var(--stroke-min) 0 0 #000,
                 0 var(--stroke) 0 #000,
                 0 var(--stroke-min) 0 #000;
}