:root {
  --stroke-1: 2.5px;
  --stroke-2: 5px;
  --stroke-3: 7.5px;
  --stroke-1-min: -2.5px;
  --stroke-2-min: -5px;
  --stroke-3-min: -7.5px;
}

#chat_container {
  text-shadow: var(--stroke-1) var(--stroke-3) 0px #000,
    var(--stroke-2) var(--stroke-2) 0px #000,
    var(--stroke-3) var(--stroke-1) 0px #000, var(--stroke-3) 0px 0px #000,
    var(--stroke-3) var(--stroke-1-min) 0px #000,
    var(--stroke-2) var(--stroke-2-min) 0px #000,
    var(--stroke-1) var(--stroke-3-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3) 0px #000,
    var(--stroke-2-min) var(--stroke-2) 0px #000,
    var(--stroke-3-min) var(--stroke-1) 0px #000,
    var(--stroke-3-min) 0px 0px #000,
    var(--stroke-3-min) var(--stroke-1-min) 0px #000,
    var(--stroke-2-min) var(--stroke-2-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3-min) 0px #000,
    var(--stroke-3) var(--stroke-1) 0px #000,
    var(--stroke-2) var(--stroke-2) 0px #000,
    var(--stroke-1) var(--stroke-3) 0px #000, 0px var(--stroke-3) 0px #000,
    var(--stroke-1-min) var(--stroke-3) 0px #000,
    var(--stroke-2-min) var(--stroke-2) 0px #000,
    var(--stroke-3-min) var(--stroke-1) 0px #000,
    var(--stroke-3) var(--stroke-1-min) 0px #000,
    var(--stroke-2) var(--stroke-2-min) 0px #000,
    var(--stroke-1) var(--stroke-3-min) 0px #000,
    0px var(--stroke-3-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3-min) 0px #000,
    var(--stroke-2-min) var(--stroke-2-min) 0px #000,
    var(--stroke-3-min) var(--stroke-1-min) 0px #000;
}
