body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#info_container {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    pointer-events: none;
    align-items: center;
    display: flex;
    width: 100%;
    z-index: 1;
}

#info_text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    opacity: 0;
}

#chat_container {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-weight: 800;
    word-break: break-word;
}

.user_info {
    display: inline-block;
}

.badge {
    vertical-align: middle;
    border-radius: 10%;
}

.zero-width_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.cheer_bits {
    font-size: 0.8em;
}

.emote {
    vertical-align: middle;
}

.zero-width {
    position: absolute;
}

.emoji {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.paint {
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}