@keyframes slide-left {
  from {
    opacity: 0%;
    margin-right: -1000px;
    padding-left: 1000px;
  }
  to {
    opacity: 100%;
    margin-right: 0px;
    padding-left: 0px;
  }
}

@keyframes slide-right {
  from {
    opacity: 0%;
    margin-left: -1000px;
    padding-right: 1000px;
  }
  to {
    opacity: 100%;
    margin-left: 0px;
    padding-right: 0px;
  }
}

.message {
  width: 45%;
  display: block;
  padding-left: 1em;
}

.user_info {
  width: 50%;
  text-align: right;
}

.nick {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 60%;
  display: inline-block;
  white-space: nowrap;
  padding-left: 5px;
  vertical-align: bottom;
}

.colon {
  display: none;
}

.chat_line {
  animation-name: slide-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  display: flex;
}

.message .emote {
  vertical-align: top;
}